@font-face {
    font-family: 'Poppins';
    src: url(../assets/font/Poppins/Poppins-Medium.ttf);
}

%set-main-text {
    font-family: 'Poppins';
    font-weight: 400;
    color: #C0C0C0;
    margin: 0;
}

.footer {

}