@font-face {
    font-family: "Poppins";
    src: url(../assets/font/Poppins/Poppins-Medium.ttf);
}

%set-main-text {
    font-family: 'Poppins';
    font-weight: 400;
    color: #C0C0C0;
    margin: 0;
}

.kpi {
    position: absolute;
    bottom: 40px;
    right: 40px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    height: 16px;
    width: auto;
    gap: 16px;

    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        height: auto;
        width: auto;
        gap: 6px;

        svg {
            height: auto;
            width: auto;
            color: #FFFFFF;
        }

        img {
            height: auto;
            width: auto;
            color: #FFFFFF;
        }

        h4 {
            @extend %set-main-text;
            line-height: 12px;
            font-size: 12px;
            color: #FFFFFF;
        }
    }
}